.feature-container {

}

.feature-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    /* height: clamp(20vh, 30vh ,40vh); */
}

.title-container {
    height: 20%;

    margin-bottom: 10px;
}

.book-list-container {
    height: 80%;
    width: 100%;

    margin-top: 10px;

    padding: 10px;
}

.book-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: clamp(5vh, 23vh, 35vh);
    width: 100%;

    flex-wrap: wrap;
    /* overflow-wrap: break-word; */

}

.book-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 10%;
}

/* .book-list-item img {
    width: 100%;
    height: 100%;
} */

.book-list-item p {

}